---
layout: gabedefault
---

<div class="pageTitle">Keyboards <i class="fa fa-keyboard-o"></i></div>

<div class="container">
  {% for post in site.posts %}
    {% if post.categories contains "keyboards" %}
      <div><img src="{{ post.image }}" alt=img>
        <a class="overlay" href="{{ post.url }}"><p>{{ post.title }}</p></a>
      </div>
    {% endif %}
  {% endfor %}
  <!--<div><img src="images/texshinobi-icon.jpg" alt=img>
    <a class="overlay" href="keyboards_restorations/texshinobi"><p>TEX Shinobi</p></a>
  </div>
  <div><img src="images/tofu60-icon.jpg" alt=img>
    <a class="overlay" href="keyboards_restorations/tofu60"><p>Tofu60 DZ60RGB HS</p></a>
  </div>
  <div><img src="images/aek2-icon.jpg" alt=img>
    <a class="overlay" href="keyboards_restorations/aek2"><p>Apple Extended Keyboard II</p></a>
  </div>
  <div><img src="images/focusfk9000-icon.jpg" alt=img>
    <a class="overlay" href="keyboards_restorations/fk9000"><p>Focus FK-9000</p></a>
  </div>
  <div><img src="images/intelligentscanningsystem4000-icon.jpg" alt=img>
    <a class="overlay" href="keyboards_restorations/terminal4000"><p>Xerox Kurzweil Intelligent Scanning System 4000</p></a>
  </div>
  <div><img src="images/modelm-icon.jpg" alt=img>
    <a class="overlay" href="keyboards_restorations/modelm"><p>IBM Model M</p></a>
  </div>
  <div><img src="images/spaceinvaders-icon.jpg" alt=img>
    <a class="overlay" href="keyboards_restorations/spaceinvaders"><p>NMB RT-101 ANSI</p></a>
  </div>
  <div><img src="images/topreclone-icon.jpg" alt=img>
    <a class="overlay" href="keyboards_restorations/topreclone"><p>ABKO K935P V2</p></a>
  </div>
  <div><img src="images/wy50-icon.jpg" alt=img>
    <a class="overlay" href="keyboards_restorations/wy50"><p>Wyse WY-50</p></a>
  </div>-->
</div>
